@media screen and (max-width:576px) {
    nav{
        flex-direction:column;
    }
    .nav-menu{
        display:none;
        flex-direction:column;
        width:100%;
    }
    .nav-menu ul{
        flex-direction:column;
        padding-left:0;
        padding-right: 0;
    }
    .nav-menu li{
        font-weight:900;
        margin:1em auto;
    }
    .nav-menu li:hover{
        color:var(--primary-color);
    }
    .hamburger{
        display:block;
    }
    .menu-toggle:checked + .hamburger + .nav-menu {
        display:flex;
        
    }
    

    .banner{
        flex-direction:column;
        width:100%;
        gap:30px;
    }
    .banner-img{
        order:0;
        width:100%;

    }
    .banner-text{
        order:1;
        text-align:center;
        width:100%;

    }
    .banner-text h1{
        text-align: center;
        width:100%;
        font-size:1.8em;
    }
    .banner-text p{
        width:100%;
        margin:15px auto;
    }
    .sponsor-container{
        gap:.8em;
    }
    .sponsor-container img{
        width:3.5em;
    }
}